@model LearnLatin.Models.Test

@{
    ViewData["Title"] = "Удалить тест";
}

<h2>@ViewData["Title"]</h2>

<h4>Вы уверены, что хотите удалить тест "@Model.Name" с @Model.NumOfTasks тасками?</h4>
<div>
    <hr />
    <dl class="row">
        <div class="col-3">
            @*@if (Model.PosterPath != null)
            {
                <img class="w-100" src="@Model.PosterPath" alt="Image" />
            }
            else
            {
                <img class="w-100" src="/posters/none.png" alt="Image" />
            }*@
           @* Пока что хардкод:*@
            <img class="w-100" src="/img/testLogo (3).jpg" alt="Image" />
        </div>
        <div class="col-7">
            @if (Model.Description != null)
            {
                <b>Описание:</b>
                <p> @Model.Description</p>
            }
            <p><b>Количество тасков:</b> @Model.NumOfTasks</p>
            <p><b>Добавлено пользователем:</b> @Model.Creator.UserName (@Model.Created)</p>
            <p><i><b>Изменено пользователем:</b> @Model.Editor.UserName (@Model.Modified)</i></p>
        </div>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
