@model IEnumerable<LearnLatin.Models.Test>

@{
    ViewData["Title"] = "Тесты (для редакторов)";
}

<h1>Тесты</h1>

@if (User.Identity.IsAuthenticated) @*поставить на роль*@
{
    <p><a asp-action="Create">Создать тест</a></p>
}

<div class="panel panel-default">
    <table class="table table-striped">
        <tbody>
                @foreach (var item in Model.OrderByDescending(x => x.Created))
                {
                    <tr>
                        @*picture*@
                        <td style="vertical-align: middle" class="text-center">
                             <img style="max-width: 200px" src="/img/testLogo (1).jpg" alt="Image" />
                        </td>
                        <td>
                            <h3><a asp-action="Details" asp-route-id="@item.Id" style="font-size: 1.3em">@item.Name</a><br /></h3>
                            @item.Description<br />
                            <div class="p-2"><i>Создан: не-сохранён @*@item.Creator.UserName*@ @item.Created</i></div>
                        </td>

                        @if (item.NumOfTasks > 0)
                         {
                            <td class="align-middle" style="min-width: 90px;">
                                @item.NumOfTasks тасков
                            </td>
                         }
                         else
                         {
                            <td class="align-middle" style="min-width: 90px;">
                                0 тасков
                            </td>
                         }

                        <td>
                            <i>
                                Редактировано:<br />
                                не-сохранён @*@item.Editor.UserName*@<br />
                                @item.Modified
                            </i>
                        </td>
 
                        <td class="align-middle"  style="min-width: 70px;">
                            <a asp-action="Edit" asp-route-id="@item.Id">
                                <i data-toggle="tooltip" data-title="Редактировать" class="fas fa-pencil-alt fa-lg text-muted hand_cursor"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id">
                                <i data-toggle="tooltip" data-title="Удалить" class="fas fa-trash-alt fa-lg text-danger hand_cursor"></i>
                            </a>
                        </td>
                    </tr>
                }
        </tbody>
    </table>
</div>