@model LearnLatin.Models.TrueOutOfFalseTask

@{
    ViewData["Title"] = "Удалить таск с выбором ответа";
}

<h1>Удалить таск</h1>

<h3>Вы уверены, что хотите удалить этот таск?</h3>
<div>
    <h6>Тип: выбор правильного ответа</h6>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Задание
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Создано
        </dt>
        <dd class="col-sm-10">
            @Model.Creator.UserName (@Model.Created)
        </dd>
        @if (Model.Editor != null)
        {
            <dt class="col-sm-2">
                Редактировано
            </dt>
            <dd class="col-sm-10">
                @Model.Editor.UserName (@Model.Modified)
            </dd>
        }
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Details" asp-controller="Tests" asp-route-id="@ViewBag.Test.Id">Назад к таску</a>
    </form>
</div>
