@model LearnLatin.Models.Theme

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить эту тему?</h3>
<div>
    <h4>Тема</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Название
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Описание
        </dt>
        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Создано
        </dt>
        <dd class="col-sm-10">
            @Model.Creator.UserName
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class="col-sm-2">
            Редактировано
        </dt>
        <dd class="col-sm-10">
            @Model.Editor.UserName
            @Html.DisplayFor(model => model.Modified)
        </dd>
        <dt class="col-sm-2">
            Количество тестов
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumOfTests)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>