@model LearnLatin.Models.ViewModels.ThemeViewModel

@{
    ViewData["Title"] = "Детали темы";
}

<h1>Тема: @Model.Theme.Name</h1>
<hr />
<h3>@Model.Theme.Description</h3>

<h6>Прогресс:</h6>
<div class="progress mt-1">    
    @if(Model.UserTheme != null)
    {
        <input type="hidden" name="progress" value="@Model.UserTheme.Progress" />
    }  
    <div class="progress-bar" id="progressPerc" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>


<div>
    @if (User.IsInRole("Administrators"))
    {
        <dt class="col-sm-2">
            Создано
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Theme.Created)
        </dd>
        <dt class="col-sm-2">
            Редактировано
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Theme.Modified)
        </dd>
        <dt class="col-sm-2">
            Количество тестов
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Theme.NumOfTests)
        </dd>
    }
</div>

<h2>Теоретические блоки:</h2>

<div class="panel panel-default">
    <table class="table table-striped">
        <tbody>
            @foreach (var item in Model.TheoryBlocks)
            {
            <tr>
                <td class="border-dark">
                    <h3>@item.Name</h3>
                    <div>
                        @item.Text
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>





<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Тесты
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Theme.Tests)
            {
                <tr>
                    <td>
                        @if (User.IsInRole("Administrators"))
                        {
                            <a asp-action="Details" asp-controller="Tests" asp-route-id="@item.Id">
                                @item.Name
                            </a>
                            <a class="btn btn-primary text-center mr-3"
                               asp-area="" asp-controller="Tests" asp-action="Start" asp-route-id="@item.Id">
                                Пройти тест
                            </a>
                        }
                        else
                        {
                            <a>
                                @item.Name
                            </a>
                            <a class="btn btn-primary text-center mr-3"
                               asp-area="" asp-controller="Tests" asp-action="Start" asp-route-id="@item.Id">
                                Пройти тест
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @if (User.IsInRole("Administrators"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Theme.Id">Редактировать тему</a> <span> | </span>
        <a asp-action="Create" asp-controller="TheoryBlocks" asp-route-id="@Model.Theme.Id">Добавить теоретический блок</a> <span> | </span>
        <a asp-action="AddTest" asp-controller="Themes" asp-route-id="@Model.Theme.Id">Добавить тест</a> <span> | </span>
    }

    <a asp-action="Index" asp-controller="PersonalArea">Назад</a>
</div>