@model IEnumerable<LearnLatin.Models.Theme>

@{
    ViewData["Title"] = "Темы";
}

<h1>Темы</h1>

<p>
    <a asp-action="Create">Добавить тему</a>
</p>

<div class="panel panel-default">
    <table class="table table-striped">
        <tbody>
            @foreach (var item in Model.OrderBy(x => x.Name))
            {
                @if (item.Name != "Root")
                {
                    <tr>
                        <td>
                            <h3><a asp-action="Details" asp-route-id="@item.Id" style="font-size: 1em">@item.Name</a></h3><br />
                            @item.Description<br />

                            @if (item.ParentTheme != null)
                            {
                                <p>Родительская тема: @item.ParentTheme.Name</p>
                            }
                            <div class="p-2"><i>Создан: @item.Creator.UserName @item.Created</i></div>
                        </td>
                        <td class="align-middle" style="min-width: 90px;">
                            @item.NumOfTests тестов<br />
                            @if (User.IsInRole("Administrators"))
                            {
                                <a asp-action="Create" asp-controller="TheoryBlocks" asp-route-id="@item.Id">Добавить теоретический блок</a><br />
                                <a asp-action="AddTest" asp-controller="Themes" asp-route-id="@item.Id">Добавить тест</a>
                            }
                        </td>

                        @if (item.Editor != null)
                        {
                            <td>
                                <i>
                                    Редактировано:<br />
                                    @item.Editor.UserName<br />
                                    @item.Modified
                                </i>
                            </td>
                        }

                        <td class="align-middle" style="min-width: 70px;">
                            <a asp-action="Edit" asp-route-id="@item.Id">
                                <i data-toggle="tooltip" data-title="Редактировать" class="fas fa-pencil-alt fa-lg text-muted hand_cursor"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id">
                                <i data-toggle="tooltip" data-title="Удалить" class="fas fa-trash-alt fa-lg text-danger hand_cursor"></i>
                            </a>
                        </td>
                    </tr>


                }
            }
        </tbody>
    </table>
</div>

